<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CollectionWebApp</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="~/css/style.min.css" rel="stylesheet">
    @RenderSection("Styles", required: false)

</head>
<body>

    @await Component.InvokeAsync("Nav")

    <header class="masthead" style="background-image: url('@ViewData["HeaderImage"]')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-heading">
                        <h1>@ViewData["HeaderTitle"]</h1>
                        @if (ViewData["SubHeader"] is null)
                        {
                            <span class="meta">
                                Posted by
                                <a asp-controller="Home" asp-action="Author" asp-route-authorId="@ViewData["AuthorId"]">@ViewData["AuthorName"]</a>
                                on @ViewData["PostDate"]
                            </span>
                        }
                        else
                        {
                            <span class="subheading">@ViewData["SubHeader"]</span>
                        }
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="content">
        @RenderBody()
    </div>

    @await Component.InvokeAsync("Footer")

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/script.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>